{% extends "templates/base.html" %}
{% block site_wrapper %}
<div class="container_12">
	<div class="grid_12"> <!-- game div -->
	{#	{% include "templates/tags/game.html" %} #}
	</div> <!--end game div -->

{#	<div class="header nav grid_12"> <!-- header div -->  
			<a href="">Ioannina</a> / <a href="/photo-album/enjoy/">Athina</a> / <a href="">...</a> 
	</div>    
#}

</div>


{% block content %}
{% endblock %}

	{% block footer %}
			<div class=" grid_12 footer clearfix">
			</div>
	{% endblock %}

{% endblock %}
